* {
  font-family: 'Roboto', sans-serif !important;
}

p, h1, h2 {
  margin: 0 !important;
  padding: 0 !important;
}

a {
  color: #000000 !important;
}

a:hover {
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
  color: #C82323 !important;
  font-weight: 500 !important;
  -webkit-transition: .10s !important;
  transition: .10s !important;
}

.border_form {
  padding: 35px;
  border-style: solid;
  border-color: transparent;
  left: 7px;
  z-index: 2;
  background-color: transparent;
  border-width: 7px;
  margin: auto;
}

.ui-form {
  max-width: 350px;
  background: #ffffff;
}

.input-form-name {
  margin-top: 10px;
}

.form_name_txt {
  width: 345px;
  height: 50px;
}

.input-form-phone {
  padding-top: 15px;
}

.form_phone_txt {
  width: 345px;
  height: 50px;
}

.form_bottun {
  padding-top: 20px;
}

.button_name_form {
  width: 345px;
  height: 50px;
}

.modal-body {
  background: #ffffff;
  left: 0px;
  top: 0px;
  height: 414px;
}

.close {
  color: #000000 !important;
  padding-top: 5px !important;
  padding-right: 10px !important;
  z-index: 5 !important;
}

.name_one_form {
  text-align: center;
  color: #000000;
  font-weight: 700;
  line-height: 29px;
  background-color: transparent;
  position: relative;
  width: 345px;
  min-height: 66px;
  z-index: 29;
  font-size: 24px;
}

.description_one_form {
  vertical-align: -2px;
  display: inline-block;
  color: #000000;
  text-align: left;
}

input {
  padding-left: 15px;
}

.strong {
  padding: 10px 0;
  background-color: #f0f0f0 !important;
  color: #999999 !important;
}

.strong p {
  display: inline-block;
}

.strong__block .color {
  color: #999999 !important;
}

.information {
  margin: 20px 0;
}

.navigation {
  background-color: #1c63b8 !important;
}

.navigation a {
  color: #ffffff !important;
}

.navigation a:hover {
  background-color: #1959a5;
}

.navigation__block {
  margin: 10px 0;
}

.information__block_number a {
  display: inline-block;
}

.header__icon {
  font-size: 35px;
  color: #1c63b8 !important;
}

.header-span-color1 a, .header-span-color1 p {
  font-size: 17px;
  font-weight: 700;
  color: #1c63b8 !important;
}

.header-span-color1 a:hover {
  font-size: 17px;
  font-weight: 700;
}

.header-span-color2 {
  font-size: 17px;
  color: #A9A9A9 !important;
}

.header-span-color2 a {
  color: #A9A9A9 !important;
}

.one-screen {
  position: relative;
  background: url(../img/background/00.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 640px;
  color: #FFFFFF;
  z-index: 5;
}

.one-screen__bg {
  position: relative;
  min-height: 640px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.one-screen__block_name {
  margin: 170px 0 0 0;
}

.one-screen__block_name h1 {
  line-height: 47px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 40px;
}

.one-screen__block_subname {
  margin: 55px 0 0 0;
  line-height: 34px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 16px;
}

.one-screen__block_button {
  margin: 50px 0;
}

.company {
  background-color: #f7f7f7;
}

.page__block {
  margin: 70px 0;
}

.page__name {
  margin: 0 0 35px 0;
  font-size: 30px;
  font-weight: 700;
  font-family: "Poppins",sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
}

.page__name ::before {
  content: "";
  display: block;
  width: 175px;
  height: 2px;
  background: #D5D5D5;
  position: absolute;
  left: calc(50% + -90px);
  top: 125px;
}

.page__subname {
  font-size: 15px;
  line-height: 30px;
  margin-top: 17px;
  color: #777777;
}

.benefits__block {
  margin-bottom: 70px;
}

.benefits__block_icon {
  font-size: 75px;
  color: #1959a5;
  border: 1px solid #1959a5;
}

.benefits__block_icon:hover {
  -webkit-box-shadow: inset 0 0 0 10px #1959a5;
          box-shadow: inset 0 0 0 10px #1959a5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.benefits__block_name {
  font-size: 16px;
  line-height: 26px;
  margin-top: 25px;
}

.services__block {
  background-color: #ffffff;
  border: 0.1px solid #D5D5D5;
  height: 350px;
  margin: 0 0 100px 0;
}

.services__block:hover {
  -webkit-box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow-box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(5px);
  -webkit-transform-transform: translateY(5px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.services__block_name {
  margin: 20px 0;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  color: #0069d9;
  margin-bottom: 15px;
  padding: 0 25px;
  display: block;
  text-decoration: none;
}

.offer {
  position: relative;
  background: url(../img/background/01.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 450px;
  color: #FFFFFF;
  z-index: 5;
}

.offer__block {
  margin: 110px 0;
}

.one-screen__bg {
  position: relative;
  min-height: 450px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.offer__block_name {
  font-size: 45px;
  font-weight: 700;
}

.offer__block_title {
  font-size: 15px;
  font-weight: 100;
}

.offer__block_button {
  margin: 50px 0;
}

.company__block_image {
  margin: 20px 0 15px 0;
  position: relative;
  z-index: 1;
}

.company__block_image p {
  display: inline-block;
}

.company__block_image img {
  border-radius: 20px;
}

.company__block_image img:hover {
  -webkit-transform: scale(1.7);
  transform: scale(1.7);
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.company__block_title {
  font-size: 17px;
  font-weight: 100;
}

.company__block_subtitle {
  margin-top: 20px;
  font-size: 17px;
  font-weight: 100;
}

.company__block_subtitle-plus {
  margin: 20px 0;
  line-height: 40px;
}

.company__block_subtitle-plus .fa-check-circle {
  color: #1c63b8 !important;
}

.company-top {
  padding: 0 0 70px 0;
}

.white {
  color: #ffffff !important;
}

.bg-blue-ui {
  background-color: #708198 !important;
}

figure img {
  position: relative;
  z-index: 5;
  width: 300px;
}

#blogCarousel {
  padding-bottom: 100px;
}

.blog .carousel-indicators li {
  background: #708198;
  border-radius: 50% !important;
  width: 30px;
  height: 10px;
}

.blog .carousel-indicators .active {
  background: #0069d9;
}

.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #0069d9;
  text-align: center;
  z-index: 4;
  padding: 20px;
}

.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 20px;
  top: -20px;
  right: 8px;
  background-color: #0069d9;
}

.item-box-blog-date span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.2;
}

.item-box-blog-date span .mon {
  font-size: 18px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}

.item-box-blog-body {
  padding: 10px;
}

.item-heading-blog h5 {
  margin: 0;
  line-height: 1;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.item-box-blog-heading a {
  text-decoration: none;
}

.item-box-blog-data p {
  font-size: 13px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

.item-box-blog-text {
  max-height: 100px;
  overflow: hidden;
}

.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.btn .bg-blue-ui .white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.btn .bg-blue-ui .white .read:hover {
  -webkit-box-shadow: 0px 5px 15px inset #4d5f77;
          box-shadow: 0px 5px 15px inset #4d5f77;
}

.green {
  background-color: #6fb936;
}

.green .thumb {
  margin-bottom: 30px;
}

.green .page-top {
  margin-top: 85px;
}

.green {
  background-color: #6fb936;
}

.green .thumb {
  margin-bottom: 30px;
}

.green .page-top {
  margin-top: 85px;
}

.green img {
  margin: 20px 0;
}

.green img .zoom {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}

.transition {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.transition .modal-header {
  border-bottom: none;
}

.transition .modal-title {
  color: #000;
}

.transition {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.transition .modal-header {
  border-bottom: none;
}

.transition .modal-title {
  color: #000;
}

.transition .modal-footer {
  display: none;
}

.img-fluid {
  margin: 20px 0;
  width: 100% !important;
  height: 200px !important;
}

.partner__img {
  margin: 30px 0;
  height: 200px;
}

.partner__img img {
  opacity: 0.6;
}

.partner__img img:hover {
  opacity: 1;
}

.feedback .img-fluid {
  margin-bottom: 100px;
  border: 1px solid #000000;
  width: 100% !important;
  height: 420px !important;
}

.footer {
  color: #ffffff;
  background-color: #333333;
}

.footer a {
  font-weight: 600 !important;
  color: #ffffff !important;
}

.footer a:hover {
  font-weight: 600 !important;
  color: #007bff !important;
}

.footer p {
  display: inline-block;
}

.footer_link {
  margin: 30px 0 0 0;
}

.footer__block_image img {
  background-color: #ffffff;
}

.footer__block_name {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0 20px 0;
}

.footer__block_name a {
  border-bottom: 2px solid #007bff !important;
}

.footer__block_name p {
  border-bottom: 2px solid #007bff;
}

.footer__section1 {
  padding: 35px 0;
  background-color: #1c63b8;
}

.footer__section1_name {
  font-size: 25px;
}

.footer__section2 {
  margin: 25px 0 0 0;
}

.footer__block_title {
  font-size: 12px;
}

.footer__menu {
  font-size: 12px;
}

.block_footer__block_2 {
  font-size: 15px;
}

.footer__block_image2 {
  margin: 25px 0 20px 0;
}

.footer__section3 {
  padding: 20px 0;
}

.block_footer__mail {
  margin: 10px 0;
}

.block_footer__address01 {
  margin: 10px 0;
}

.block_footer__address01 p {
  display: inline-block;
}

.block_footer__address01 i {
  display: inline-block;
}

.page1 {
  margin: 0 0 50px 0;
}

.page1__title {
  margin: 30px 0;
  font-family: "Gotham Pro", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.page1__ul {
  font-family: "Gotham Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.page1__ul li {
  margin-bottom: 10px;
}

.page2-1__block {
  margin: 0 0 100px 0;
}

.services__block_page2-2 {
  margin: 0 0 50px 0;
  height: 400px !important;
}

.page3 {
  background-color: #f8f9fb;
}

.page3 img {
  margin: 0 0 30px 0;
}

.page__name_block-page3 {
  padding: 20px;
  background-color: #ffffff !important;
}

.card img {
  padding: 10px 480px;
}

.vacansia {
  margin: 50px 0;
}

.span-bold {
  font-weight: 700;
}

.block-2 {
  margin-top: 50px;
}

.block-3 {
  margin-top: 50px;
}

.one-screen__block_buttom {
  margin: 20px 0;
}
/*# sourceMappingURL=style.css.map */